<a href="https://colab.research.google.com/github/AaronRM9416/Core-Classwork/blob/main/Abalone_core_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Abalone Data
-Aaron Musselwhite

-8/17/22

In [ ]:
import pandas as pd

In [ ]:
data= pd.read_csv('/content/drive/MyDrive/MACHINE LEARNING/abalone.data')
print(data)

      M  0.455  0.365  0.095   0.514  0.2245   0.101    0.15  15
0     M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.0700   7
1     F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.2100   9
2     M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.1550  10
3     I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.0550   7
4     I  0.425  0.300  0.095  0.3515  0.1410  0.0775  0.1200   8
...  ..    ...    ...    ...     ...     ...     ...     ...  ..
4171  F  0.565  0.450  0.165  0.8870  0.3700  0.2390  0.2490  11
4172  M  0.590  0.440  0.135  0.9660  0.4390  0.2145  0.2605  10
4173  M  0.600  0.475  0.205  1.1760  0.5255  0.2875  0.3080   9
4174  F  0.625  0.485  0.150  1.0945  0.5310  0.2610  0.2960  10
4175  M  0.710  0.555  0.195  1.9485  0.9455  0.3765  0.4950  12

[4176 rows x 9 columns]

In [ ]:
data.columns=['Sex', 'Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight', 'Viscera weight', 'Shell weight', 'Rings']
print(data)

     Sex  Length  Diameter  Height  Whole weight  Shucked weight  \
0      M   0.350     0.265   0.090        0.2255          0.0995
1      F   0.530     0.420   0.135        0.6770          0.2565
2      M   0.440     0.365   0.125        0.5160          0.2155
3      I   0.330     0.255   0.080        0.2050          0.0895
4      I   0.425     0.300   0.095        0.3515          0.1410
...   ..     ...       ...     ...           ...             ...
4171   F   0.565     0.450   0.165        0.8870          0.3700
4172   M   0.590     0.440   0.135        0.9660          0.4390
4173   M   0.600     0.475   0.205        1.1760          0.5255
4174   F   0.625     0.485   0.150        1.0945          0.5310
4175   M   0.710     0.555   0.195        1.9485          0.9455

      Viscera weight  Shell weight  Rings
0             0.0485        0.0700      7
1             0.1415        0.2100      9
2             0.1140        0.1550     10
3             0.0395        0.0550      7
4             0.0775        0.1200      8
...              ...           ...    ...
4171          0.2390        0.2490     11
4172          0.2145        0.2605     10
4173          0.2875        0.3080      9
4174          0.2610        0.2960     10
4175          0.3765        0.4950     12

[4176 rows x 9 columns]

In [ ]:
data.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
1,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
2,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
3,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7
4,I,0.425,0.300,0.095,0.3515,0.1410,0.0775,0.120,8

# 1) Separate your data into the features matrix (X) and target vector (y).

In [ ]:
y= data['Rings']
X= data.drop(columns= 'Rings')

In [ ]:
X.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight
0,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070
1,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210
2,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155
3,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055
4,I,0.425,0.300,0.095,0.3515,0.1410,0.0775,0.120

In [ ]:
y.head()

0     7
1     9
2    10
3     7
4     8
Name: Rings, dtype: int64

# 2) Train/test split the data

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=42)

In [ ]:
len(X_train)

3132

In [ ]:
len(X_test)

1044

In [ ]:
X_train.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight
2428,M,0.340,0.255,0.095,0.2130,0.0810,0.0340,0.070
3823,M,0.620,0.460,0.170,1.1270,0.5350,0.2635,0.296
3956,F,0.555,0.440,0.155,1.0160,0.4935,0.1855,0.263
3623,F,0.665,0.500,0.175,1.4355,0.6430,0.3450,0.370
0,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070

In [ ]:
X_test.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight
866,F,0.615,0.500,0.175,1.3770,0.5585,0.3300,0.2920
1483,F,0.590,0.465,0.150,1.1510,0.6130,0.2390,0.2515
599,I,0.535,0.420,0.145,0.9260,0.3980,0.1965,0.2500
1702,F,0.640,0.505,0.165,1.2235,0.5215,0.2695,0.3600
670,F,0.500,0.380,0.155,0.6550,0.2405,0.1430,0.2050

3) Create a ColumnTransformer to preprocess the data. Remember to:

    a) Create column selectors for the numeric and categorical columns

    b) Create a OneHotEncoder for one-hot encoding the categorical columns

    c) Create a StandardScaler for scaling numeric columns

    d) Match each transformer with the appropriate selector in a tuple

    e) Use the tuples to create a ColumnTransformer to preprocess the data.

In [ ]:
from sklearn.compose import make_column_selector, make_column_transformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [ ]:
cat_sel = make_column_selector(dtype_include='object')
num_sel = make_column_selector(dtype_include='number')

In [ ]:
OHE = OneHotEncoder(handle_unknown='ignore')

In [ ]:
Teas_gone_cold = StandardScaler()

In [ ]:
num_tup = (Teas_gone_cold, num_sel)
cat_tup = (OHE, cat_sel)

In [ ]:
coltrane = make_column_transformer(num_tup, cat_tup, remainder= 'passthrough')

4) Transform your data and display the result

In [ ]:
coltrane.fit(X_train)

ColumnTransformer(remainder='passthrough',
                  transformers=[('standardscaler', StandardScaler(),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x7f4bca0d5cd0>),
                                ('onehotencoder',
                                 OneHotEncoder(handle_unknown='ignore'),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x7f4bca0d5290>)])

In [ ]:
xtrain_pro = coltrane.transform(X_train)
xtest_pro = coltrane.transform(X_test)

In [ ]:
xtr_df = pd.DataFrame(xtrain_pro)
xtr_df.head()

,0,1,2,3,4,5,6,7,8,9
0,-1.546422,-1.556170,-1.053558,-1.258947,-1.260633,-1.337852,-1.212341,0.0,0.0,1.0
1,0.795725,0.521917,0.706869,0.605245,0.789463,0.749584,0.409117,0.0,0.0,1.0
2,0.252013,0.319177,0.354783,0.378850,0.602065,0.040129,0.172355,1.0,0.0,0.0
3,1.172142,0.927397,0.824231,1.234461,1.277152,1.490874,0.940037,1.0,0.0,0.0
4,-1.462774,-1.454800,-1.170920,-1.233452,-1.177094,-1.205966,-1.212341,0.0,0.0,1.0

In [ ]:
xtr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3132 entries, 0 to 3131
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3132 non-null   float64
 1   1       3132 non-null   float64
 2   2       3132 non-null   float64
 3   3       3132 non-null   float64
 4   4       3132 non-null   float64
 5   5       3132 non-null   float64
 6   6       3132 non-null   float64
 7   7       3132 non-null   float64
 8   8       3132 non-null   float64
 9   9       3132 non-null   float64
dtypes: float64(10)
memory usage: 244.8 KB