<a href="https://colab.research.google.com/github/AaronRM9416/Core-Classwork/blob/main/Average_height_core.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Average Height Core Assignment

Aaron Musselwhite

8/4/2022

In [52]:
import pandas as pd ##only needed pandas for this so i only imported that

In [53]:
filename = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vT011yk3_aIhd6CBCqCVScThW4V4Cf8gbW5nMY87ir61niyzXRBauD3flN0y52AGhHl2J2c7pgfdPEX/pub?output=csv'

In [54]:
df=pd.read_csv(filename)
df.info() ## putting my data in front of me

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40616 entries, 0 to 40615
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      40616 non-null  int64
 1   Age     39143 non-null  float64
 2   Height  31615 non-null  float64
 3   Team    40616 non-null  object
 4   NOC     40616 non-null  object
 5   Games   40616 non-null  object
 6   Year    40616 non-null  int64
 7   Season  40616 non-null  object
 8   City    40616 non-null  object
 9   Sport   40616 non-null  object
 10  Event   40616 non-null  object
 11  Medal   5917 non-null   object
dtypes: float64(2), int64(2), object(8)
memory usage: 3.7+ MB

# 1

In [55]:
df.shape

(40616, 12)

 a. How many rows?

In [56]:
len(df)

40616

b. How many columns?

In [57]:
len(df.columns)

12

c. Which columns have missing values? (Why do think there are there so many null values in the Medals column?)

In [58]:
df.isna().sum() ## I believe the excess of NA in the Medal category is due to the fact that not everyone walks away with a medal. Three awards are given for each event so not everyone will walk away with a medal

ID            0
Age        1473
Height     9001
Team          0
NOC           0
Games         0
Year          0
Season        0
City          0
Sport         0
Event         0
Medal     34699
dtype: int64

 d. How many entries correspond to the city of London?

In [59]:
filter_london = df['City'] == 'London' ##I Filtered London out

In [60]:
df.loc[filter_london].shape ##applied my filter and found the number of entries related to the variable

(3370, 12)

e. What age is the youngest athlete in our sample data?  Hint: use min()

In [61]:
df['Age'].min()

11.0

# 2

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40616 entries, 0 to 40615
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      40616 non-null  int64
 1   Age     39143 non-null  float64
 2   Height  31615 non-null  float64
 3   Team    40616 non-null  object
 4   NOC     40616 non-null  object
 5   Games   40616 non-null  object
 6   Year    40616 non-null  int64
 7   Season  40616 non-null  object
 8   City    40616 non-null  object
 9   Sport   40616 non-null  object
 10  Event   40616 non-null  object
 11  Medal   5917 non-null   object
dtypes: float64(2), int64(2), object(8)
memory usage: 3.7+ MB

 a. How many athletes who participated in the Sport "Tug-Of-War" were from Team "Sweden" in our sample dataset?

In [63]:
filter_tug = df['Sport'] == 'Tug-Of-War'
filter_swed = df['Team'] == 'Sweden'
df.loc[filter_tug & filter_swed].shape ## applied two filters and found that six entries were related

(6, 12)

b. How many Gold medals were awarded to athletes who were over 40 years old?

In [64]:
fliter_age = df['Age'] > 40
gold_filter = df[ 'Medal'] == 'Gold'
df.loc[fliter_age & gold_filter].shape ##once again created two filters and applied them to find that 66 entries were related

(66, 12)

# 3) determine average height

a. All rows are included.

In [65]:
df_height = df['Height']
df_height.mean()

175.3811165585956

 b. All rows are included but grouped by Event.

In [66]:
df.groupby('Event')['Height'].mean() # created a new filter and applied it to the events category using groupby

Event
Alpine Skiing Men's Combined                      178.547170
Alpine Skiing Men's Downhill                      178.211679
Alpine Skiing Men's Giant Slalom                  176.739394
Alpine Skiing Men's Slalom                        176.482143
Alpine Skiing Men's Super G                       179.850575
                                                     ...
Wrestling Women's Flyweight, Freestyle            158.100000
Wrestling Women's Heavyweight, Freestyle          173.444444
Wrestling Women's Light-Heavyweight, Freestyle    170.000000
Wrestling Women's Lightweight, Freestyle          162.666667
Wrestling Women's Middleweight, Freestyle         164.533333
Name: Height, Length: 726, dtype: float64

c. Bonus: This dataset contains many athletes more than once (if they competed in multiple events and/or multiple years). You can confirm this by finding  .value_counts on the ID column!  For the bonus task we want to get the average height of all  the athletes, but don't want to include any athlete more than once.  Hint: We learned how to drop duplicates if EVERY column was identical, but now we want to drop a row any time just the ID is repeated.  To do this,  you can use a subset of your data as an argument in the drop_duplicates function.  You can also tell Python which of the duplicates to keep by using the keep argument.

In [67]:
df.value_counts('ID')

ID
119591    36
44875     32
76437     31
133279    30
21462     29
          ..
78467      1
78468      1
78470      1
78474      1
91368      1
Length: 20336, dtype: int64

In [75]:
id_index= df.set_index(['ID'],drop= True ,inplace= True)

In [85]:
df.drop_duplicates(keep= 'first' ,inplace= True)
df.duplicated('ID').any()                 ### very lost. attempted many times but ultimately did not get far

KeyError: ignored